.awards {
  color: $color-textDarkest;
  padding: 5rem 0;

  .title {
    color: $color-primaryDark;
  }

  .icon-box {
    display: flex;
    align-items: center;
    gap: 1rem;

    > svg {
      flex: 1 0 81px;
    }

    > p {
      font-weight: 600;
    }
  }

  @media screen and (min-width: $smDesktopWidth) {
    .icon-box {
      > p {
        font-size: 1.5rem;
      }
    }
  }
}