.footer {
  background-color: $color-primaryDark;
  padding: 4rem 0 2rem 0;

  #map_google {
    width: 100%;
    height: 100%;

    iframe {
      width: 100%;
      height: 250px;
      border-radius: 1rem;

      @media screen and (min-width: $smDesktopWidth) {
        height: 100%;
      }
    }
  }

  .footer__contacts {
    margin-bottom: 4rem;
  }

  .widget.contacts {
    .widget_block {
      font-size: 1.2rem;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }

  &__bottom {
    &__links {
      display: flex;
      align-items: center;
      gap: 1rem;

      @media screen and (min-width: $smDesktopWidth) {
        justify-content: end;
      }

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}