@import '../base/vars';

/* General styles */

:root {
  --swiper-theme-color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $mainFontColor;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
}

section {
  position: relative;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

p {margin-bottom: 0;}

hr.separator {
  background-color: $color-primaryLight;
  margin: 2rem auto;
  opacity: 0.5;
  border: 1px solid $color-primaryLight;
  border-radius: 5px;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 1.4;
}

.post-subtitle {
  font-size: 2rem;
  line-height: 1.4;
  color: $color-primaryLight;
  text-transform: uppercase;
  
  @media screen and (min-width: $smDesktopWidth) {
    font-size: 2.5rem;
  }
}

.opacity-0 {opacity: 0}

@media (min-width: $smDesktopWidth) {
  body {
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
    background: white;
    }
    &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 20px;
    border: 2px solid white;
    }
    scrollbar-width: thin;
    scrollbar-color: $primary white;
  }
}

.banner {
  display: flex;
  align-items: center;
  color: $white;
  background: url('../../assets/images/content/club-img-1.jpg') center center / cover no-repeat;
  position: relative;
  padding: 150px 0 50px 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #2C063F 1.78%, rgba(44, 6, 63, 0) 145.22%);
  }

  .page-title {
    font-size: 2rem;
    line-height: 1.4;
  }

  .archive-description {
    font-size: 2rem;
  }

  @media screen and (min-width: $smDesktopWidth) {
    padding: 250px 0 150px 0;

    .page-title {
      font-size: 5rem;
    }
  }

  > * {
    position: relative;
    z-index: 10;
  }
}

.page-content {
  padding: 2rem 0;
  color: $darkFontColor;
}

.breadcrumbs {
  padding: 2rem 0;
  color: $darkFontColor;
  font-size: 1.2rem;

  a {
    color: $darkFontColor;
    text-decoration: none;
    font-weight: 400;
  }
}