#advantages {
    padding: 50px 0;
    z-index: 3;
    background: $darkFontColor;
}

.title-small {
    margin-bottom: 45px;
    h2 {
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
    }
}

.advantage-box {
    text-align: center;
}

@media screen and (min-width: $tabletWidth) {
    .title-small {
        h2 {
            font-size: 2rem;
        }
    }
    .advantage-box {
        p {
            font-size: 1.4rem;
        }
    }
}

@media screen and (min-width: $smDesktopWidth) {
    #advantages {
        background: url('../../assets/images/content/advantages_bg.jpg') center center / cover no-repeat;
    }
    .title-small {
        h2 {
            text-transform: none;
            text-align: left;
        }
    }
    .advantage-box {
        p {
            font-size: 1rem;
        }
    }
}