.btn {
  position: relative;
  overflow: hidden;
  transition: .6s;

  &.large {
    padding: 1rem;
    font-size: 1.2rem;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &:hover {
    cursor: pointer;

    &:before {
      transform: translateX(600px) skewX(-15deg);
      opacity: 0.6;
      transition: 1s;
    }

    &:after {
      transform: translateX(600px) skewX(-15deg);
      opacity: 1;
      transition: 1s;
    }
  }
}

.btn_shine {
  background-color: $primary;
  color: white;
  box-shadow: 2px 2px 30px rgba(143, 51, 187, 0.8);
  border: 1px solid $primary;
  border-radius: 10px;
  transition: background-color .5s, border .5s, box-shadow .5s;

  &:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    box-shadow: none;
  }
}

.btn-white {
  background: #fff;
  color: $primary;
  box-shadow: 2px 2px 30px rgba(143, 51, 187, 0.8);
  border-radius: 10px;
  border: 2px solid #fff;
  transition: color .3s ease-in-out, background .3s ease-in-out !important;

  &:hover {
    background: transparent;
    color: #fff;
  }
}

.menu-toggler {
  display: none;
}

.anim-btn {
  animation: pulse-2 1s ease 2s infinite;

  &:hover {
    animation: none;
  }
}

@media screen and (max-width: $lgDesktopWidth) {
  .menu-toggler {
    background: transparent;
    display: flex;
    width: 90px;
    height: 90px;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 15px;

    span {
      width: 100%;
      height: 8px;
      background: $white;
      border-radius: 0 2px 2px 0;

      &:nth-child(2) {
        width: 80%;
      }

      &:last-child {
        width: 60%;
      }
    }

    &:focus {
      outline: none;
    }
  }
}