#sale {
    position: relative;
    z-index: 99;
}

.sale__container {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    top: -150px; right: 8vmin;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vmin 0;

    width: 100%; height: auto;

    text-align: left;

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.sale__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & > * {
        padding: 0 2vmin;
    }
}

.sale__number {
    font-size: 16vmin;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 1em;
}

.sale__info {
    width: 100%;
    font-size: 5vmin;
    line-height: 1.2;
}

@media screen and (min-width: $smDesktopWidth) {
    #sale {
        z-index: 100;
    }
    .sale__container {
        position: absolute;
        top: -150px; right: 8vmin; left: auto;
        width: 300px; height: 300px;
        border: 5px solid #fff;
        border-radius: 50%;
        text-align: center;
        padding: 0;
    }
    .sale__inner{
        flex-direction: column;
        justify-content: center;

        & > * {
            padding: 0;
        }
    }
    .sale__number {
        font-size: 100px;
    }
    .sale__info {
        width: 70%;
        font-size: 25px;
        line-height: 1;
        margin-bottom: 0;
    }
    .custom-pulse {
        &::before,
        &::after {
            content: '';
            position: absolute;
            border: 2px solid $primary;
            width: 100%; height: 100%;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            border-radius: 50%;
            animation: pulse 1.8s linear infinite;
            opacity: 0;
        }
        &::after {
            animation-delay: .6s;
        }
    }
}