.form {
  .form-grid {
    @media screen and (min-width: $smDesktopWidth) {
      display: grid;
    }

    &.cols-3 {

      @media screen and (min-width: $smDesktopWidth) {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        align-items: end;

        .my-form-control {
          margin-bottom: 0;
        }
      }
    }
  }

  .policy-box {
    margin-top: 1rem;
    font-size: 1rem;
  }
}

.wpcf7-not-valid-tip {
  position: absolute;
  top: 105%;
  background-color: $white;
  padding: 0.3rem;
  border-radius: 0.3rem;
  z-index: 10;
}

.my-form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.wpcf7 {
  form {
    position: relative;

    &.invalid,
    &.aborted,
    &.unaccepted,
    &.spam {
      .wpcf7-response-output {
        background-color: $color-warn;
        border: 2px solid $color-warn;
      }
    }

    &.sent {
      .wpcf7-response-output {
        background-color: $color-success;
        border: 2px solid $color-success;
      }
    }

    .wpcf7-response-output {
      margin: 0;
      position: absolute;
      top: 105%;
      border-radius: 0.3rem;
      color: $white;
    }
  }
}

.form-submit {
  display: flex;
  align-items: center;
}

.form-field {
  border: 1px solid $color-primaryLight;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid $white;
  max-width: 100%;
  
  &.large {
    padding: 1rem;
  }
  
  &::placeholder {
    color: inherit;
    opacity: 0.7;
  }
}