/**
 * Variables
*/

/* Typography */
$mainFontSize: 15px;
/* Breakpoints */
$phoneWidth: 576px;
$tabletWidth: 768px;
$smDesktopWidth: 992px;
$lgDesktopWidth: 1200px;
$xlDesktopWidth: 1400px;

/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;
$mainFontColor: #fff;
$darkFontColor: #2C063F;
$color-primaryLight: #8f33bb;
$color-success: #09af00;
$color-warn: #f47100;

/* Components */
